* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 100px;
  background-color: rgb(79, 150, 194);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  margin: 20px auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.individuals {
  border: solid gray;
  margin-left: 20px;
  margin-top: 40px;
  width: 200px;
  height: 350px;
  align-items: center;
}

.inputBars {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

@media (max-width: 600px)  {
  .header {
    width: 100vw;
  }

  .inputBars {
    flex-wrap: wrap;
  }

}