* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 100px;
  background-color: rgb(79, 150, 194);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  margin: 20px auto;
  justify-content: space-evenly;
  height: 80vh;
}

.individuals {
  border: solid gray;
  margin-left: 20px;
  width: 300px;
  height: 350px;
}